.footer {
    background-color: #2F303A;
    padding: 60px 0px;
}

.footer__container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: baseline;
}


.footer__logo {
    display: block;
    margin-bottom: 20px;

    color: #FFFFFF;

    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer__logo-accent {
    color: $brand-color;
}

.footer__text {
    display: block;
    line-height: 24px;
}

.footer__address {

    color: #FFFFFF;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__address-contacts {
    display: flex;
    margin-top: 9px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: background-color $transition-duration $transition-timing-function;
}

.footer__address-contacts:hover,
.footer__address-contacts:focus {
    color: $brand-color;
}

.footer-slogan {
    color: $hero-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-accession {
    margin-left: 70px;
    margin-right: auto;
}

.footer-accession__list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

.footer-accession__link {
    color: $hero-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $transition-duration $transition-timing-function;
}

.footer-accession__link:hover,
.footer-accession__link:focus {
    color: $main-background;
    background-color: $brand-color;
}





.footer-accession__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: $icon-color;

    border-radius: 50%;

    transition: background-color $transition-duration $transition-timing-function,
        color $transition-duration $transition-timing-function;
}

.footer-accession__icon {

    fill: currentColor;
}

.footer-form__wrapper {
    display: flex;
    align-items: center;

    margin-top: 20px;

}

.footer-form__label {
    display: flex;
}

.footer-form__input:hover,
.footer-form__input:focus {
    border: 1px solid $brand-color;
    outline: none;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: $hero-color;
    background-color: #2F303A;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border-color $transition-timing-function $transition-duration,

}

.footer-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    outline: none;
}

.footer__button {
    display: flex;
    align-items: center;
    margin-left: 12px;
    transition: box-shadow $transition-duration $transition-timing-function,
        background-color $transition-duration $transition-timing-function,
        color $transition-duration $transition-timing-function;
}

.footer__button:hover {
    background-color: #188CE8
}

.footer__button-title {
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}