 $brand-color: #2196f3;
 $title-color: #212121;
 $text-color: #757575;
 $hero-color: #ffffff;
 $contact-color: rgba(255, 255, 255, 0.6);
 $main-background: #ffffff;
 $secondary-background: #f5f4fa;
 $icon-color: #AFB1B8;
 $bg-buttons-color-hover: rgba(33, 150, 243, 1);
 $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 $transition-duration: 250ms;